<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/data-tool/src/main/java/com/temenos/ds/t24/data/tool/DataTool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.temenos.ds.t24.data.tool.DataTool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="import"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="data-tool"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DconnectionProperties=server.properties &#13;&#10;-Dtable=COMPANY &#13;&#10;-Did=GB0010001&#13;&#10;-DdestinationFile=data-file.eson&#13;&#10;-DlogLevel=INFO"/>
</launchConfiguration>
